<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
<!--<p th:text="${payloads}" />-->
<table>
    <thead>
    <tr>
        <th th:text="Name">Name</th>
        <th th:text="Value">Value</th>
        <!--<th th:text="#{msgs.headers.price}">Price</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod : ${payloads}">
        <td th:text="${prod.name}"></td>
        <td>
            <!--<a th:text="${prod.value}" th:href="@{/car_models(mark=${prod.value})}"></a>-->
            <a th:text="${prod.value}" th:href="@{{url}/{mark}(url=${url},mark=${prod.value})}"></a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<p th:text="${json}" />

<a th:href="@{/car_marks}">car_marks</a>

</body>
</html>