<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, stat!'" />
<!--<p th:text="${stat}" />-->
<p th:text="'total :: ' + ${stat.total}" />
<p th:text="'Arithmetic :: ' + ${stat.arithmeticMean}" />
prices
<table>
    <!--<thead>-->
    <!--<tr>-->
        <!--<th th:text="Name">Name</th>-->
        <!--<th th:text="Value">Value</th>-->
        <!--&lt;!&ndash;<th th:text="#{msgs.headers.price}">Price</th>&ndash;&gt;-->
    <!--</tr>-->
    <!--</thead>-->
    <tbody>
    <tr th:each="entry : ${table}">

        <td>
            <a th:text="${entry.key}" th:href="${entry.value.url}"></a>
        </td>
        <td th:each="desc : ${entry.value}">
            <ul>
                <li th:text="${desc.key}"></li>
                <li th:text="${desc.value}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/car/mark/}">car_marks</a>

</body>
</html>